.buttonIn {
  /* width: 300px; */
  position: relative;
}

/* input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
} */

.reset-button {
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  height: 25px;
  /* color: white;
  background-color: blue; */
  /* transform: translateX(2px); */
}


.dayData {
  margin-top: 8px;
  padding-top: 50px;
}